<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Hamro Kitchen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="cont">
        <div class="form">
            <h2>Sign In</h2>
            <label>
                <span>Email Address</span>
                <input type ="email" name="email">
            </label>
            
            <label>
                <span>Password</span>
                <input type ="password" name="password">
            </label>
            <button class=" submit" type="button"> Sign In</button>
			<p class="forgot-pass">Forgot Password ?</p>
			
            <div class="social-media">
				<ul>
				  <li><img src="../public/images/facebook.png"></li>
				  <li><img src="../public/images/twitter.png"></li>
				  <li><img src="../public/images/linkedin.png"></li>
				  <li><img src="../public/images/instagram.png"></li>
				</ul>
			  </div>
			</div>
		
			<div class="sub-cont">
			  <div class="img">
				<div class="img-text m-up">
				  <h2>New here?</h2>
				  <p>Sign up and discover great amount of new opportunities!</p>
				</div>
				<div class="img-text m-in">
				  <h2>One of us?</h2>
				  <p>If you already has an account, just sign in. We've missed you!</p>
				</div>
				<div class="img-btn">
				  <span class="m-up">Sign Up</span>
				  <span class="m-in">Sign In</span>
				</div>
			  </div>
			  <form action="http://localhost:90/user_insert" method="POST" >
			  <div class="form sign-up">
				<h2>Sign Up</h2>
				<label>
				  <span>Username</span>
				  <input type="text" name="username">
				</label>
				<label>
				  <span>Email</span>
				  <input type="email" name ="email">
				</label>
				<label>
					<span>Phone Number</span>
					<input type="number" name="phonenumber">
				  </label>
				<label>
				  <span>Password</span>
				  <input type="password" name ="password">
				</label>
				<label>
				  <span>Confirm Password</span>
				  <input type="password" name ="confirmpassword">
				</label>
				<button  class="submit">Sign Up Now</button>
			  </div>
			  </form>
			  
			</div>
		  </div>
       
		  <script>
			document.querySelector('.img-btn').addEventListener('click', function()
			{
			   document.querySelector('.cont').classList.toggle('s-signup')
			}
			);
		  </script>
</body>
</html>